<!--  Switch light/dark mode button -->
<i class="mode-toggle fas fa-adjust" id="mode-toggle"></i>

<script type="text/javascript">
  class ModeToggle {
    static get MODE_KEY() { return "mode"; }
    static get MODE_ATTR() { return "data-mode"; }
    static get DARK_MODE() { return "dark"; }
    static get LIGHT_MODE() { return "light"; }

    constructor() {
      this.modeToggle = document.getElementById("mode-toggle");
      if (this.modeToggle) {
        this.modeToggle.addEventListener('click', () => {
          this.flipMode();
        });
      }
    }

    static get systemPrefersLight() {
      return window.matchMedia && window.matchMedia("(prefers-color-scheme: light)").matches;
    }

    mode = () => {
      const storedMode = localStorage.getItem(ModeToggle.MODE_KEY);
      if (storedMode) {
        return storedMode;
      }
      return ModeToggle.systemPrefersLight ? ModeToggle.LIGHT_MODE : ModeToggle.DARK_MODE;
    };

    flipMode = () => {
      const newMode = this.mode() === ModeToggle.DARK_MODE ? ModeToggle.LIGHT_MODE : ModeToggle.DARK_MODE;
      localStorage.setItem(ModeToggle.MODE_KEY, newMode);
      document.documentElement.setAttribute(ModeToggle.MODE_ATTR, newMode);
    };
  }

  const modeToggle = new ModeToggle();
</script>
