<!-- Stay Connected section -->

{% assign contact_list = site.data.contact %}

{% if contact_list.size > 0 %}
  <section>
    <h2 class="panel-heading">{{- site.data.locales[include.lang].panel.stay_connected | default: "Stay Connected" -}}</h2>
    <div class="social-links-container mt-3 mb-1">
      {% for entry in contact_list %}
        {% case entry.type %}
          {% when 'linkedin' %}
            {%- capture url -%}
              https://www.linkedin.com/in/{{ entry.username }}
            {%- endcapture -%}
          {% when 'github', 'twitter' %}
            {%- capture url -%}
              https://{{ entry.type }}.com/{{ site[entry.type].username }}
            {%- endcapture -%}
          {% when 'rss' %}
            {% assign url = '/feed.xml' | relative_url %}
          {% else %}
            {% assign url = entry.url %}
        {% endcase %}

        {% if url %}
          <a href="{{ url }}"
            aria-label="{{ entry.type }}"
            {% unless entry.noblank %}target="_blank" rel="noopener noreferrer"{% endunless %}
            class="social-link">
            <i class="{{ entry.icon }} fa-fw"></i>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </section>
{% endif %}
